<% layout('layout/boilerplate2.ejs') -%>
<div class="books">
<h1>Registered Students</h1>
    <table>
        <tr>
            <th class="libraryid">Library ID</th>
            <th class="student">Student Name</th>
            <th class="branch">Branch</th>
            <th class="email">Email</th>
            <th class="phonenumber">Delete</th>
        </tr>
        <% for(Student of student){ %>
            <tr>
                <td class="column1">
                 <%= Student._id  %> 
                </td>
                <td class="column2">
                    <%= Student.username  %>  
                </td>
                <td class="column3">
                    <%= Student.branch  %> 
                </td>
                <td class="column3">
                    <%= Student.email  %> 
                </td>
                <td class="column3">
                    <form method="post" action="/Admin/<%=Student._id%>/delete-student"><button class="btn btn-dark">Delete</button></form>
                </td>
            </tr>
        <% } %>
    </table>
</div>
</body>
</html>